* {
    margin: 0;
    padding: 0;
}


.btn1 {
    border: 0;
    padding: 0.5rem 1.8rem;
    color: #fff;
    background-color: #26ca34;
}

.btn2 {
    border: 0;
    padding: 0.5rem 1.2rem;
    color: #fff;
    background-color: #6C2400;
}

.Footer {
    padding: 2rem 0;
    margin-top: 15rem;
    background-color: #0e0e0e;
    bottom: 0;
}

.ft-1 h3 {
    font-weight: 700;
    font-family: cursivesystem-ui;
    letter-spacing: 2px;
    padding: 0.5rem 0;
    color: #fff;
}
.ft-1 img {
    width: 100px;
    margin-right: 10px;
}

.ft-1 span {
    color: #DA467D;
    
}
.ft-1 span::after{
    content: "";
    width: 10px;
}

.ft-1 p {
    padding: 0rem 5rem 0.8rem 0;
    font-weight: 500;
    color:#ffffff;
}

.footer-icons i {
    padding: 0.7rem 0.8rem;
    background: #ffffff;
    color: #6C2400;
    margin: 0 0.9rem;
    border-radius: 50%;
}

.footer-icons i:hover {
    background: #DA467D;
    color: #fff;
    transition: 0.6s;
    cursor: pointer;
}

.Footer h5 {
    color: #DA467D;
}

.ft-2 ul {
    list-style: none;
    padding-left: 0;
}

.ft-2 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
    
}

.ft-2 ul a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.06rem;
}
.ft-2 ul a:hover{
    color:#DA467D;
}

.ft-3 p {
    font-weight: 500;
    padding: 0.1rem 0;
    font-size: 1.06rem;
    color: #ffffff;
}

.ft-3 i {
    padding-right: 0.5rem;
    color: #DA467D;
}

.Last-footer {
    background: #DA467D;
    text-align: center;
    padding: 1rem 0;
    color: #070707;
}

.Last-footer p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
}
.Last-footer a{
    color: rgb(0, 0, 0);
}